# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
Zip=../media/OgreCore.zip

# Resource locations to be added to the default path
[General]
FileSystem=.
FileSystem=../media
FileSystem=../media/water
FileSystem=../media/skyes
FileSystem=../media/pg_grass
FileSystem=../media/models
FileSystem=../media/gui
[ET]

