td {
	font-family: tahoma;
	font-size: 8pt;
	color: #80A000;
}
body
{
	overflow-y: hidden;
	overflow-x: hidden;
	margin: 0px;;
	width: 450px;
	height: 298px;
	background-color: #303030;
	font-family: Verdana, Arial;
	font-size:7pt;
	color: #FFFFFF;
}
.maintable {
	border-right:1px solid #305000;
	border-bottom:1px solid #305000;
	border-top:1px solid #204000;				
	border-left:1px solid #204000;
	padding:5px;
	margin:5px;
	margin-top:0px;
	background-color: #000000;
	
}		
input {
	border:1px solid #404040;			
	border-right: 1px solid #303030;
	border-bottom: 1px solid #303030;
	padding:1px;
	font-family: Arial;
	font-size:7pt;
	font-weight:bold;
	color: #FFFFFF;
	background-color:#102000;
	height:15px;
}