	body
	{
		overflow-y: hidden;
		overflow-x: hidden;
		margin: 2;
		padding:0;
		background-color: #303030;
		font-family: Verdana, Arial;
		font-size:7pt;
		color: #FFFFFF;
	}
	.windowBody
	{
		border:1px solid #305000;
		border-top:1px solid #204000;				
		border-left:1px solid #204000;
		padding:0px;
		font-family: Arial;
		font-size:8pt;
		font-weight:bold;
		color: #FFFFFF;
		background-color:#102000;
	}	
	.special_intro {
		letter-spacing:1.5px; 	
		border-bottom:#404050 dotted 1px;
		padding-bottom:2px;
		font-family:arial; 
		color:#808085; 
		font-size:8pt;
		margin-bottom:5px;
	}
	.statusbar {
		border:1px solid #404040;				
		padding:1px;
		font-family: Arial;
		font-size:7pt;
		font-weight:bold;
		color: #AAAAAA;
		background-color:#203000;
		width:387px;
		height:10px;		
		margin: 0px 0px;	
		display: block;
	}
	.button3{
		width:145px;
		height:14px;
		display:block;
		background-image:url(images/button_black_150.jpg);
		background-position: 0px -3px;
		font-family: Arial;
		font-size:7pt;
		color: #CCCCCC;							
		border:1px solid #404040;			
		border-right: 1px solid #303030;
		border-bottom: 1px solid #303030;
		padding-top:3px;
		padding-left:10px;
		padding-right:10px;
		margin-bottom:3px;
	}
	.button3_h{
		width:145px;
		height:14px;
		display:block;
		background-image:url(images/button_black_150.jpg);
		background-position: 0px -3px;
		font-family: Arial;
		font-size:7pt;				
		padding-top:3px;
		padding-left:10px;
		padding-right:10px;
		color: #A0C020;
		//color: #20A0C0;
		border:1px solid #6080A0;			
		border-right: 1px solid #305070;
		border-bottom: 1px solid #305070;
		margin-bottom:3px;
	}	
	.button3_a{
		width:145px;
		height:14px;
		display:block;
		background-image:url(images/button_black_150.jpg);
		background-position: 0px -3px;
		font-family: Arial;
		font-size:7pt;				
		padding-top:3px;
		padding-left:10px;
		padding-right:10px;
		color: #608000;
		border:1px solid #406080;			
		border-left: 1px solid #204060;
		border-top: 1px solid #204060;
		margin-bottom:3px;
	}	
	#contentpane 
	{
		position:absolute; 
		top:21px; 
		left:6px;
		display: block;
		overflow: hidden;		
		width: 389px;
		height: 362px;
		background: #000000;
		padding: 10px;		
		border-right:1px #203000 solid;
	}
		
