	body
	{
		margin: 0px;				
		background-color: #303030;
		font-family: Verdana, Arial;
		font-size:7pt;
		color: #FFFFFF;	
		overflow: hidden;
	}
	#main {
		display: block;
		overflow-y: auto;
		overflow-x: hidden;
		margin: 0px;
		padding:0px;
		padding-left: 19px;
		padding-right: 16px;
		padding-top: 20px;
		background-color: #303030;
		font-family: Verdana, Arial;
		font-size:7pt;
		color: #FFFFFF;	
		width:605px;
		height:660px;	
	}
	li {
		margin-bottom:8px;
	}
	.td_dot {
		padding-bottom: 3px;
		border-bottom: 1px dotted #404045;
	}
	.index_link {
		color: #A0A0A0;
		text-decoration:none;
		font-size: 8pt;
		font-family: arial;
	}
	.index_link:hover {
		color: #00CCFF;
		text-decoration: underline;
	}
	.index_link:active {
		color: #808080;
	}
	.manual_td {
		padding: 10px;
	}
	hr { padding-top:3px; margin-top:3px; }
	.small
	{
		font-family: Verdana, Arial;
		font-size:6pt;
		font-weight:bold;
		color: #FFFFFF;
	}
	.logo {
		font-family: Verdana, Arial;
		font-size:18pt;
		font-weight:bold;
		color: #FFFFFF;
	}
	.subheadline {
		font-family: Arial;
		font-size:12pt;
		color: #00CCFF;
	}
	td {
		font-family: Arial;
		font-size:9pt;				
		color: #CCCCCC;
	}	
	b {
		color: #CCFF20;
		font-family: Arial;
		font-size: 9pt;
		font-weight: normal;
	}
	ul {
		padding-left:20px;
	}
	.link4 {
		font-family: Arial;
		font-size:8pt;
		font-weight:bold;
		color: #707070;
		text-decoration: none;
	}