	body
	{
		margin: 0px;
		background-color: #303030;
		font-family: Verdana, Arial;
		font-size:7pt;
		color: #FFFFFF;
	}
	.small
	{
		font-family: Verdana, Arial;
		font-size:6pt;
		font-weight:bold;
		color: #FFFFFF;
	}
	.windowBody
	{
		border:1px solid #305000;
		border-top:1px solid #204000;				
		border-left:1px solid #204000;
		padding:0px;
		font-family: Arial;
		font-size:8pt;
		font-weight:bold;
		color: #FFFFFF;
		background-color:#000000;
	}	
	.minicontrol {
		border:1px solid #303030;
		border-top: 1px solid #404040;
		border-left: 1px solid #404040;
		background: #051500;
	}