	body
	{
		overflow-y: hidden;
		overflow-x: hidden;
		margin: 0;
		width:48px;
		height: 476px;
		background-color: #303030;
		font-family: Verdana, Arial;
		font-size:7pt;
		color: #FFFFFF;
	}
	.tb_spacer {
		width: 36px;
		height: 5px;
		border: 0px;
	}
	.tb_button {
		border: 1px solid #808080;
		width: 34px;
		height: 34px;
		padding: 0px;
		display: block;
	}
	.tb_button2{
		width:34px;
		height:25px;
		display:block;				
		background-image:url(images/start_button.png);
		background-position: 0px 0px;
		font-family: Arial;
		font-size:7pt;
		color: #AAAAAA;							
		border:1px solid #606060;			
		border-right: 1px solid #505050;
		border-bottom: 1px solid #505050;
		padding-top:11px;
		padding-left:2px;
	}
	.tb_button2_h{
		width:34px;
		height:25px;
		padding-top:11px;
		padding-left:2px;
		display:block;
		background-image:url(images/start_button.png);
		background-position: 0px 0px;
		font-family: Arial;
		font-size:7pt;				
		color: #A0C020;
		border:1px solid #6080A0;			
		border-right: 1px solid #305070;
		border-bottom: 1px solid #305070;
	}	
	.tb_button2_a{
		width:34px;
		height:24px;
		padding-top:12px;
		padding-left:2px;
		display:block;
		background-image:url(images/start_button.png);
		background-position: 0px 1px;
		font-family: Arial;
		font-size:7pt;				
		color: #608000;
		border:1px solid #305070;			
		border-left: 1px solid #507090;
		border-top: 1px solid #507090;
	}