#optionPane
{
   border: 1px dotted #608000;
   padding: 1px;
   width: 110px;
   height: 150px;
}

#list
{
   width: 110px;
   height: 150px;
   overflow: hidden;
   float: left;
}

#list
{
   margin: 0;
   padding: 0;
}

#list li
{
	border: 1px solid transparent;
	border-bottom: 1px solid #383838;
	list-style-type: none;
   	cursor: pointer;				
	display:block;
	background-image:url(images/option_o.png);
	background-position: 2 0;
	background-repeat: no-repeat;
	width: 120px;
	height: auto;
	padding:2px;
	padding-left: 15px;
	font-family:Arial;
	font-size:7pt;
	color: #cccccc;
	font-weight:bold;
	text-decoration:none;
	text-align:left;
	margin:0px;
	//margin-bottom:2px;			
}

/*#list li:hover
{
   background-color: #454;
}
*/
#scrollbar
{
   width: 14px;
   height: 150px;
   padding: 1px;
   background-color: #000000;
   float: left;
   border: 1px solid #204000;
}

#handle
{
   position: relative;
   top: 0px;
   background-color: transparent;
   border-bottom: 2px transparent;
   height: 32px;
   width: 15px;
   background-image:url(images/handle.png);
   background-repeat: no-repeat;   
}

.selected
{
   border: 1px solid #8A8;
   background-color: #305000;
   background-image: url(images/option_x.png);
}